<%- include("partials/header") %>

<div class="container text-center">
    <h1>You've Discovered My Secrets!!</h1>
    <hr>
    <% if (secrets.length > 0) { %>
        <% secrets.forEach(function(secret) { %>
            <p><%= secret %></p>
        <% }); %>
    <% } else { %>
        <p style="color: gray;">You have not shared any secrets yet.</p>
    <% } %>

    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a>
</div>

<%- include("partials/footer") %>
